/* CSS Document */
.wpgdoctitle{height:22px; width:253px; overflow:hidden; line-height:22px; font-size:12px; }
.wpgdate{width:110px; font-size:11px; text-transform:uppercase;}
.wpgdoctitle img{margin-right:3px; clear:right;}
/*
.wpgfoldername{font-size:14px;}
*/
/*Scrolling table rows based on work done by Stu Nicolls - CSS Play*/
.wpgptable{width:470px; border-collapse:collapse; margin:0 auto; color:#C3DEF1;}
.wpgptable thead{height:32px; border-bottom: 3px solid #C6D9E9; background:#444;}
#filetypelegend ul{padding:0px; margin:0px; list-style-type:none;}
.wpgptable th, .wpgcinner th {text-align:left; font-weight:100}
.wpgptable td{border: 1px solid #fff;}
.wpgptable tbody {background:#f5f5f5; color:#000;}
.wpgptable tfoot {background:#E4F2FD; color:#444; height:22px}

.wpgcinner{width:385px; border-collapse:collapse;}
.wpgcinner td {background:#eee; color:#000;}
.wpgcinner td {background:#eee; color:#000;}
.wpgcinner tr.dk td {background:#ddd; color:#000;}

.wpgscroll{height:165px; overflow:auto; background:#fff;}

p.wpgvendor{}
p.wpgnotes{display:block; border: 1px solid #999999; background:#f5f5f5; padding:8px;}

